:root {
  background: #333333;
  --animationBottom: none;
  --animationTop: none;
  --animationLight: none;
  --topDelay: 0s;
  --lightDelay: 0s;
}

#current {
  fill: #ffff00;
}

#filament{
  fill: #999999;
  animation-name: var(--animationLight); 
  animation-delay: var(--lightDelay);
  animation-duration: 2s;
}

#currentBottomGroup g {
  /* transform: translate(calc(50% + (var(--order) - 1) * 10%), 75%); */
  transition: all 1s ease;
  animation-timing-function: linear;
  animation-name: var(--animationBottom);
  /* animation-duration: calc(var(--order) * 1s); */
  animation-duration: 4s;
  animation-fill-mode: forwards;
  /* animation-iteration-count: 1;
  animation-direction: alternate; */
  animation-delay: calc((var(--order) - 1) * 0.5s);
}

#currentTopGroup g {
  /* transform: translate(calc(50% + (var(--order) - 1) * 10%), 75%); */
  transition: all 1s ease;
  animation-timing-function: linear;
  animation-name: var(--animationTop);
  /* animation-duration: calc(var(--order) * 1s); */
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /* animation-iteration-count: 1;
  animation-direction: alternate; */
  /* animation-delay: calc(var(--order) * 0.5s); */
  animation-delay: var(--topDelay);
}

#discharge {
  display: none;
}

/* #long1,
#long2 {
  opacity: 0;
} */

/* #battery {
  display: none;
} */

/* #short1,
#short2 {
  opacity: 1;
} */

#battery:hover,
#bulb:hover {
  opacity: .7;
}

@keyframes chargeFlowBottom {
  33% {
    transform: matrix(0.16536458,0,0,0.16536458,34.75,34);
  }

  67% {
    transform: matrix(0.16536458,0,0,0.16536458,34.75,-45);
  }

  100% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(124 - (var(--order) - 1) * 16),-45);
  }
}

@keyframes chargeFlowTop {
  100% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(172 - (var(--order) - 1) * 16),34.3);
  }
}

@keyframes dischargeFlowBottom {
  33% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(34.75 + (var(--order) - 1) * 24),34);
  }

  67% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(34.75 + (var(--order) - 1) * 24),114);
  }

  100% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(172 - (var(--order) - 1) * 16),114);
  }
}

@keyframes dischargeFlowTop {
  100% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(172 - (var(--order) - 1) * 64),34.3);
  }
}

@keyframes lightBulb {
  0% {
    fill: #ffff00;
  }
  100% {
    fill: #ffff00;
  }
}
