:root {
  background: #444;
  --animationBottom: none;
  --animationTop: none;
  --animationLight: none;
  --topDelay: 0s;
  --lightDelay: 0s;
  --white: #fff;
  --blue: #058;
}

body {
  left: 8px;
  right: 8px;
  font-family: Arial;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 50px 1fr 40px;
}

.title {
  font-size: 3em;
  color: var(--white);
  text-align: center;
  grid-row-start: 1;
}

#mainFrame {
  grid-row-start: 3;
  min-height: calc(100vh - 206px);
  display: grid;
  margin: auto;
}

.textParagraph {
  color: var(--white);
  font-size: 1em;
  display: none;
  text-align: center;
  flex-direction: column;
}

li {
  padding: 10px;
}

#footer {
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid var(--white);
  padding: 10px;
  color: var(--white);
  background: var(--blue);
  text-align: center;
  grid-row-start: 4;
}


/* Navigation Styling */

.nav-bar {
  font-size: 2em;
  border-radius: 4px;
  border: 2px solid var(--white);
  grid-row-start: 2;
}

.nav-list {
  background: var(--blue);
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 0.7em;
}

.nav-button {
  background: var(--blue);
}

.nav-button:hover {
  background: #046;
}

a {
  color: var(--white);
  text-decoration: none;
}


/* Quiz Styling */

.answers {
  list-style: none;
}

#quizText {
  display: flex;
}

.question {
  text-align: left;
}

#formButton {
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid var(--white);
  padding: 10px;
  color: var(--white);
  background: #253;
  text-align: center;
  text-decoration: none;
}

#quizResult {
  display: none;
}


/* Animation Styling */

svg {
  width: 80vw;
  height: 50vh;
  padding: 5vw;
}

#chargeText {
  display: flex;
}

.current {
  fill: #ff0;
}

#filament{
  fill: #999;
  animation-name: var(--animationLight); 
  animation-delay: var(--lightDelay);
  animation-duration: 2s;
}

.currentBottomGroup g {
  transition: all 1s ease;
  animation-timing-function: linear;
  animation-name: var(--animationBottom);
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: calc((var(--order) - 1) * 0.5s);
}

.currentTopGroup g {
  transition: all 1s ease;
  animation-timing-function: linear;
  animation-name: var(--animationTop);
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: var(--topDelay);
}

#discharge,
#wires1 {
  display: none;
}

.hover {
  opacity: 0.7;
}

.hover:hover {
  opacity: 1;
}

@keyframes chargeFlowBottom {
  0% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(93 + (var(--order) - 1) * 40),34.26924);
  }
  33% {
    transform: matrix(0.16536458,0,0,0.16536458,34.75,34);
  }
  67% {
    transform: matrix(0.16536458,0,0,0.16536458,34.75,-45);
  }
  100% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(124 - (var(--order) - 1) * 16),-45);
  }
}

@keyframes chargeFlowTop {
  0% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(93 + (3 - var(--order)) * 40),34.26924);
  }
  100% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(172 - (var(--order) - 1) * 16),34.3);
  }
}

@keyframes dischargeFlowBottom {
  0% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(93 + (var(--order) - 1) * 40),34.26924);
  }
  33% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(34.75 + (var(--order) - 1) * 24),34);
  }
  67% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(34.75 + (var(--order) - 1) * 24),114);
  }
  100% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(172 - (var(--order) - 1) * 16),114);
  }
}

@keyframes dischargeFlowTop {
  0% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(93 + (3 - var(--order)) * 40),34.26924);
  }
  100% {
    transform: matrix(0.16536458,0,0,0.16536458,calc(172 - (var(--order) - 1) * 64),34.3);
  }
}

@keyframes lightBulb {
  0% {
    fill: #ffb;
  }
  100% {
    fill: #ffb;
  }
}
